@model IEnumerable<FacultyDto>

<div class="container">

    <div>

        <h1>Faculties</h1>

        <div class="row">
            <div class="mb-3 col-2">
                <a class="btn btn-success" asp-action="AddFaculty">New Faculty</a>
            </div>

            <div class="courses col-2">
                <a asp-controller="Course" asp-action="Index" class="btn btn-primary">Courses</a>
            </div>
        </div>

        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Degree</th>
                    <th>Semester Count</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FacultyId</td>
                        <td>@item.FacultyName</td>
                        <td>@Html.Raw(item.FacultyDescription)</td>
                        <td>@item.Degree</td>
                        <td>@item.SemesterCount</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary" asp-action="UpdateFaculty" asp-route-facultyId="@item.FacultyId">Update</a>
                                <form method="post" asp-action="DeleteFaculty" asp-route-facultyId="@item.FacultyId">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Delete this faculty?')">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        
    </div>

</div>
