@model IEnumerable<FacultyDto>

<div class="container">

    <div>

        <h1>Faculties</h1>

        <br />

        <a class="btn btn-success" asp-action="AddFaculty">NEW</a>

        <br />
        <br />

        <table id="facultyTable" class="table">

            <thead class="table-dark">
                <tr>
                    <td>ID</td>
                    <td>NAME</td>
                    <td>DESCRIPTION</td>
                    <td>DEGREE</td>
                    <td>SEMESTER COUNT</td>
                    <td>UPDATE</td>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FacultyId</td>
                        <td>@item.FacultyName</td>
                        <td>@Html.Raw(item.FacultyDescription)</td>
                        <td>@item.Degree</td>
                        <td>@item.SemesterCount</td>
                        <td class="row">
                            <a class="btn btn-info col" asp-action="UpdateFaculty" asp-route-facultyId="@item.FacultyId">UPDATE</a>
                            <a class="btn btn-danger col" asp-action="DeleteFaculty" asp-route-facultyId="@item.FacultyId">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>


        </table>

    </div>

</div>